<%- include('partials/header'); -%>

<div class="container">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consequatur laborum soluta at temporibus, saepe ea iusto nemo doloribus, labore est ipsa reiciendis. Amet veniam pariatur laboriosam esse vitae vel aut necessitatibus sed error voluptates voluptatum aperiam suscipit modi a, incidunt quaerat, voluptatibus repudiandae! Vero, maxime repellat laborum dolore sequi nesciunt vel asperiores, illo aliquam labore natus ipsa! Officia esse rem beatae aperiam autem, facilis sunt labore, at minus animi ipsam non hic eum iusto necessitatibus corrupti molestiae nesciunt impedit! Dignissimos dolore magni nostrum ex eligendi. Commodi enim vero odit non, eaque amet, quaerat, ullam quibusdam esse magni dolores reiciendis!</p>
</div>
    
    <%- include('partials/footer'); -%>